<!DOCTYPE html>
<html>
  <head></head>

  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>Title</tr>
        <tr>Body</tr>
        <th colspan="3"></th>
      </thead>
      <tbody></tbody>
    </table>

    <h2>New Book</h2>

    <%= form_with model: Book.new do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
	
      <p>Body</p>
      <%= f.text_area :body %>
	
      <%= f.submit 'Create Book' %>
    <% end %>
  </body>
</html>